//
@import "~bootstrap/scss/bootstrap";




.container-fluid {
    background-color: #1c1c1c;
    .row{
        .col{
            .container {
                .row {
                    .col-2 {
                        .my-card {
                            padding: 20px;
                            .title-comic{
                                color: #fff;
                            }
                            .img-card {
                                width: 150px;
                                height: 150px;
                                object-fit: cover;
                                object-position: top;
                            }
                        }
                    }
                }
            }
        }
    }
}
