//
@import "~bootstrap/scss/bootstrap";
@import "partials/_header";
@import "partials/_nav";
@import "partials/_jumbo";
@import "partials/_info";
@import "partials/_footer";

// sez Comics
.container-fluid {
    background-color: #1c1c1c;
    .row{
        .col{
            .container {
                .row {
                    .col-2 {
                        .my-card {
                            padding: 20px;
                            text-align: center;
                            .title-comic{
                                color: #fff;

                                a {
                                    display: block;
                                    text-decoration: none;
                                    color: #fff;
                                    text-transform: uppercase;
                                    transition: all 0.3s ease-in-out; ;

                                    &:hover {
                                        scale: 1.3;
                                        transform: translateY(10px);
                                    }

                                }
                            }
                            .img-card {
                                width: 150px;
                                height: 150px;
                                object-fit: cover;
                                object-position: top;
                            }
                        }
                    }
                }
            }
        }
    }
}
