.jumbo {
    height: 400px;
    // background-color: red;
    background-image: url('/images/jumbotron.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
